html 
    head 
    body 
        form(action="/data" method="post" enctype="multipart/form-data")
            input(type="file" name="mypic" accpet=".png,.jpg,.jpeg" multiple)
            input(type="submit")