html 
    body 
        table(border="1" style="border:1px solid red;" cellpadding="5")
            tr 
                th Name 
                th Email 
                th Branch 
            tr 
                td  #{uname}
                td  #{email}
                td  #{branch}