// npm install pug render(dont run) mcq and question point of view mimp
html
    head 
        title Test
    body
        p Hello 
        h1 Testing 
        p Hello
            b Test
        b Hii 
        b 
        HII
        h1(style="color:red;text-align:center;") Pug Example //space here for not error
         | hello pipe line
        h1pug