html
    body 
        ul(type="square")
            li Mango
            li Watermelon 
            li Banna 
        a(href="/" target="_blank" style="color:red;") Home
        br
        a(href="/",target="_blank") Home1
        br 
        h1 b i
        h1 
            b i bik
        
        h3(style="color:red;" title="Hello")
           | Hello 
        table(border="2")
            tr 
                th sem 
                th sub
            tr 
                td 3
                td Fsd2
            tr 
                td 4
                td Fsd1 
            tr 
                td 3
                td Java1 
            div.test#test hello