html 
    body 
        h1 -unbuffered
        
        -var country="India"
        -var num=[10,20,30]
        -var age=24
        
        //
            h4= "Country is"+" "+country 
        p
            b 
                i="Multi with 3 is "+num[2]*3