html 
    body
        form(action="/data" method="post")
            
            input(type="text" name="un")
            br
            
            input(type="email" name="eid")
            br
            br
            input(type="radio" name="branch" value="cse")
            |CSE
            input(type="radio" name="branch" value="cea")
            |CEA
            input(type="radio" name="branch" value="it")
            |IT 
            br
            br
            input(type="submit")
